# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pkl

# Virtual environment
sentiment-env/
venv/
env/

# Streamlit specific
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# SQLite DB
database.sqlite

# OS or IDE specific
.DS_Store
*.swp
*.swo
.vscode/
*.log

# CSV or data files (if large)
*.csv
